# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/

# MicroPython
*.mpy

# 固件二进制（太大）
*.bin

# IDE
.vscode/*
!.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# 临时文件
*.tmp
*.log

# 原始文档（不加入版本控制）
本地文件/

# W5 演示素材（不入库）
demo/
